/* 
    Document   : index.css
    Created on : 09-Jan-2014, 12:33:37
    Author     : Juan Manuel Pedraza García <jackpanzer@github.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

